body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  height: 100%;
}

.App{
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item {
  height: 300px;
  margin-bottom: 50px;
  background-color: #ccc;
  line-height: 300px;
  text-align: center;
}